@media screen and (min-width: 768px) {
  .explore {
    padding: 50px 0;

    h1 {
      font-size: 40px;
      width: fit-content;
    }
    .button-explore {
      margin-bottom: 20px;
    }
  }

  .functioning {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .tabs {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .tab {
        width: 435px;
      }
    }
  }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .restaurants-cards {
      flex-direction: row;

      .card {
        width: 350px;
        height: 260px;
      }
    }
  }

  .footer {
    .container {
      display: flex;
      justify-content: flex-end;
      margin-right: 30px;
      gap: 40px;

      .ul-footer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 661px;

        .tab-li {
          justify-content: flex-end;
        }
      }
    }
    .logo-footer {
      margin-top: 10px;
      order: 1;
    }
  }
}

@media screen and (min-width: 1024px) {
  .functioning {
    .tabs {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
        .tab {
          width: 335px;
        }
    }
  }

  .restaurants {
    .restaurants-cards {
      .card {
        width: 490px;
        height: 260px;

        .new {
          margin-left: 370px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .functioning {
    h2 {
      font-size: 24;
    }

    .tabs {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .tab {
        width: 345px;
      }
    }
  }

  .restaurants {
    padding-bottom: 80px;

    .restaurants-cards {
      .card {
        width: 460px;
        height: 260px;
      }
    }
  }
}
