// css de base
* {
  font-family: $font-main-text;
  color: $color_text_noir;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $color_bg_main;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}

.heart {
  position: relative;
  overflow: hidden;
}

.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.fa-heart.full {
  position: absolute;
  left: 0;
  top: 25px;
  background: linear-gradient(
    0deg,
    rgba(171, 94, 220, 1) 0%,
    rgba(223, 111, 218, 1) 58%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 0.3s ease;
}

.heart:hover .fa-heart.full {
  top: 0;
}

.heart:hover .fa-heart.empty {
  background: linear-gradient(
    0deg,
    rgba(171, 94, 220, 1) 0%,
    rgba(223, 111, 218, 1) 58%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
