// css de base
* {
  font-family: $font-main-text;
  color: $color_text_noir;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $color_bg_main;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}

.heart {
  position: relative;
  width: 50px; /* Ajuste la taille selon vos besoins */
  height: 50px;
}

.fa-heart {
  font-size: 23px;
}

.heart .fa-heart.full {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(
    0deg,
    rgba(171, 94, 220, 1) 0%,
    rgba(223, 111, 218, 1) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  clip-path: inset(100%); /* Cache complètement le cœur plein */
  transition: clip-path 0.5s ease; /* Transition pour l'effet de remplissage */
}

.heart:hover .fa-heart.full {
  clip-path: inset(0); /* Remplit progressivement le cœur du bas vers le haut */
  font-size: 24px;
}
