.footer {
    width: 100%;
    height: 186px;
    padding: 22px 25px 22px 25px;
    background-color: $color_bg_Black;

    .logo-footer {
        font-family: $font-logo-title;
        color: $color_text_white;
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
    }

        .tab-li {
            margin-top: 16px;
            font-family: $font-main-text;
            font-size: 16px;
            display: flex;
            gap: 20px;
            color: $color_text_white;
        }

            .fa-solid {
                width: 12px;
                color: $color_text_white;
            }
}