.restaurants {
  width: 100%;
  display: flex;
  background-color: $color_bg_lightGrey;
  flex-direction: column;
  padding-bottom: 50px;
  padding: 25px;
  gap: 20px;

  h2 {
    width: 100%;
    padding-left: 20px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 17px;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card {
      background-color: $color_bg_White;
      width: 340px;
      height: 251px;
      border-radius: 15px;
      overflow: hidden;

      .new {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 80px;
        height: 29px;
        margin-top: 10px;
        margin-left: 245px;
        background-color: $color_bg_Green;
        color: $color_text_green;
      }

      img {
        border-radius: 15px 15px 0px 0px;
        height: 180px;
        width: 100%;
      }

      .card-content {
        padding-bottom: 30px;
        border-radius: 0px 0px 15px 15px;
        background-color: $color_text_white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card-txt {
          margin-top: 5px;
          width: 267px;
          padding-left: 13px;
        }

        .card-rating {
          margin: 15px;
        }
      }
    }
  }
}
