.explore {
   text-align: center;
   padding: 1rem;
   background-color: #f6f6f6;
   margin-bottom: 20px;

   .discover{
        margin-bottom: 20px;
   }

   .button-explore {
        font-weight: bold;
        color: white;
        background-color: #9256dc;
        border-radius:30px 30px ;
        font-size: 16px;
        border: 0.5px solid #9256dc;
        height: 50px;
        width: 218px;
        margin-bottom: 50px;
    }
}
