.explore {
   text-align: center;
   padding: 1rem;
   background-color: #f6f6f6;
   margin-bottom: 20px;

   .discover{
        margin-bottom: 20px;
   }

   .button-explore {
        font-weight: bold;
        color: white;
        background: linear-gradient($color_button_top, $color_button_bottom);
        border-radius:30px 30px ;
        font-size: 16px;
        height: 50px;
        width: 218px;
        margin-bottom: 50px;
    }
}
